body {
  text-align: center;
  background: url("./imges/adult-art.jpg") no-repeat fixed;
  background-size: cover;
}

h1 {
  font-family: 'Modak', cursive;
  font-family: 'Fredoka One', cursive;
  font-size: 70px;
  margin: 0.2em;
}

h2 {
  font-family: 'Modak', cursive;
  font-family: 'Fredoka One', cursive;
  font-family: 'Cantarell', sans-serif;
  margin: 1em 0 0.25em;
}

h2:first-of-type {
  margin-top: 0.5em;
}

table,
tr,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

input[type="number"] {
  width: 6em;
}
form{
  font-family: 'Modak', cursive;
  font-family: 'Fredoka One', cursive;
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
}